<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Peygir.Presentation.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Peygir.Presentation.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Peygir.Presentation.Forms.Properties.Settings>
            <setting name="FormatDateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Calendar" serializeAs="String">
                <value>PersianCalendar</value>
            </setting>
            <setting name="DateTimePattern" serializeAs="String">
                <value>yyyy/MM/dd HH:mm:ss</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
        </Peygir.Presentation.Forms.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Peygir.Presentation.Forms.Properties.Settings>
            <setting name="ProgrammerEmail" serializeAs="String">
                <value>amir_saniyan@yahoo.com</value>
            </setting>
            <setting name="HelpPath" serializeAs="String">
                <value>{0}\Help\Help.htm</value>
            </setting>
        </Peygir.Presentation.Forms.Properties.Settings>
    </applicationSettings>
</configuration>